

header {
    background-image: url("resources/giphy.gif");
    height: 200px;
    padding: 0px;
}

h1 {
    text-align: center;
    padding-top: 15px;
    /*padding: 20px;*/
    /*padding-left: 20px;*/
    color: white;
    font-size: 50px;
}

div {
    padding-right: 50px;
    padding-left: 50;

}


div1 {
    float: left;
}

H3 {
    font-size: 35px;
}

p {
    width: 700px;
    font-size: 25PX;
}

div2 {
    font-size: 25px;
    float: right;
    padding-right: 0px;
}



td {
    width: 200px;
    border: solid black 3px;
    background-color: gray;
}

img{
    width: 500px;
}